<?xml version="1.0"?>
<phpunit stopOnError="true" stopOnFailure="true" convertErrorsToExceptions="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="Bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">../lib</directory>
    </include>
    <exclude>
      <file>../lib/Data/AbstractData.php</file>
    </exclude>
    <report>
      <cobertura outputFile="coverage/coverage.cobertura.xml"/>
      <html outputDirectory="phpunit-html"/>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <testsuite name="PrivateBin Test Suite">
    <directory suffix=".php">./</directory>
  </testsuite>
  <logging>
    <testdoxHtml outputFile="log/testdox.html"/>
  </logging>
</phpunit>
